@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

#header3-2 H3 {
  text-align: center;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
}
#header3-2 P {
  text-align: center;
  font-size: 18px;
  color: #b8312f;
}
#dropdown-menu-2btn-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-0 .nav .link,
#dropdown-menu-2btn-0 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-0 .navbar,
#dropdown-menu-2btn-0 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-0 .dropdown-menu a:hover,
#dropdown-menu-2btn-0 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-0 .navbar-toggler {
  color: #ffffff;
}

#dropdown-menu-2btn-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-e .nav .link,
#dropdown-menu-2btn-e .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-e .navbar,
#dropdown-menu-2btn-e .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-e .dropdown-menu a:hover,
#dropdown-menu-2btn-e .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-e .navbar-toggler {
  color: #ffffff;
}
#header3-g H3 {
  text-align: center;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}
#content1-h P {
  color: #000000;
  font-size: 20px;
}

#dropdown-menu-2btn-j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-j .nav .link,
#dropdown-menu-2btn-j .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-j .navbar,
#dropdown-menu-2btn-j .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-j .dropdown-menu a:hover,
#dropdown-menu-2btn-j .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-j .navbar-toggler {
  color: #ffffff;
}
#header3-k H3 {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
  color: #d14841;
}
#content1-l P {
  color: #000000;
  text-align: left;
}
#content1-l B {
  color: #000000;
  text-align: left;
}
#dropdown-menu-2btn-t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-t .nav .link,
#dropdown-menu-2btn-t .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-t .navbar,
#dropdown-menu-2btn-t .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-t .dropdown-menu a:hover,
#dropdown-menu-2btn-t .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-t .navbar-toggler {
  color: #ffffff;
}
#content1-v DIV {
  text-align: center;
}
#content1-v B {
  font-size: 25px;
  color: #d14841;
}
#dropdown-menu-2btn-10 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-10 .nav .link,
#dropdown-menu-2btn-10 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-10 .navbar,
#dropdown-menu-2btn-10 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-10 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-10 .dropdown-menu a:hover,
#dropdown-menu-2btn-10 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-10 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-14 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-14 .nav .link,
#dropdown-menu-2btn-14 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-14 .navbar,
#dropdown-menu-2btn-14 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-14 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-14 .dropdown-menu a:hover,
#dropdown-menu-2btn-14 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-14 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-17 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-17 .nav .link,
#dropdown-menu-2btn-17 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-17 .navbar,
#dropdown-menu-2btn-17 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-17 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-17 .dropdown-menu a:hover,
#dropdown-menu-2btn-17 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-17 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-1a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1a .nav .link,
#dropdown-menu-2btn-1a .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1a .navbar,
#dropdown-menu-2btn-1a .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-1a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1a .dropdown-menu a:hover,
#dropdown-menu-2btn-1a .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-1a .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-1c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1c .nav .link,
#dropdown-menu-2btn-1c .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1c .navbar,
#dropdown-menu-2btn-1c .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-1c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1c .dropdown-menu a:hover,
#dropdown-menu-2btn-1c .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-1c .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-1e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1e .nav .link,
#dropdown-menu-2btn-1e .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1e .navbar,
#dropdown-menu-2btn-1e .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-1e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1e .dropdown-menu a:hover,
#dropdown-menu-2btn-1e .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-1e .navbar-toggler {
  color: #ffffff;
}
#msg-box4-1i .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1i .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1i .mbr-article {
  color: #ffffff;
}
#dropdown-menu-2btn-1m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1m .nav .link,
#dropdown-menu-2btn-1m .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1m .navbar,
#dropdown-menu-2btn-1m .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-1m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1m .dropdown-menu a:hover,
#dropdown-menu-2btn-1m .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-1m .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-1p .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1p .nav .link,
#dropdown-menu-2btn-1p .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1p .navbar,
#dropdown-menu-2btn-1p .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-1p .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1p .dropdown-menu a:hover,
#dropdown-menu-2btn-1p .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-1p .navbar-toggler {
  color: #ffffff;
}
